/* Define brand colors */
/* Define font families */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font: 0.8rem "Poppins", arial, sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 75%;
}

input, select {
  font: 0.8rem "Poppins", arial, sans-serif;
}

header {
  width: 100%;
  height: 70px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  position: fixed;
  z-index: 999;
}
header .title {
  width: 50%;
  height: 70px;
  display: flex;
  align-items: center;
}
header .title h2 {
  margin: 0 0 0 50px;
}
header .navigation {
  width: 50%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
}
header .navigation nav {
  margin: 0 50px 0 0;
}
header .navigation nav ul {
  display: flex;
}
header .navigation nav ul li {
  list-style: none;
  margin: 0 0 0 50px;
}
header .navigation nav ul li a {
  color: #ffffff;
}

footer {
  width: 100%;
  height: 20px;
  background-color: #000000;
  color: #ffffff;
}

.side-bar ul {
  padding: 90px 30px 0 30px;
}
.side-bar ul li {
  list-style: none;
  margin: 0 0 30px 0;
  color: #ffffff;
}
.side-bar ul li a {
  font-size: 1rem;
  color: #ffffff;
}
.side-bar ul li a:hover {
  border-bottom: 1px solid #ffffff;
}
.side-bar ul li h2 {
  font-weight: 700;
  border-bottom: 1px solid #ffffff;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
}
main .side-container {
  width: 20%;
  height: 100vh;
  background-color: #555555;
  position: fixed;
  z-index: 0;
}
main .content {
  width: 80%;
  height: 100vh;
  margin-left: 20%;
}
main .content .search-table {
  margin-top: 200px;
  overflow-y: auto;
  /* Add hover effect to table rows */
}
main .content .search-table table.dataTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100% !important;
}
main .content .search-table table.dataTable td, main .content .search-table th {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 8px;
  font-size: 0.8125rem;
}
main .content .search-table table.dataTable tr:nth-child(even) {
  background-color: #f1f1f1;
}
main .content .search-table .dataTables_length {
  font-size: 1rem;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
}
main .content .search-table .dataTables_filter input {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  font-size: 1rem;
  margin-left: 10px;
  font-family: "Times New Roman", Times, serif;
  outline: none;
}
main .content .search-table .dataTables_filter {
  margin: 0 10px;
}
main .content .search-table .dataTables_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .content .search-table .dataTables_length,
main .content .search-table .dataTables_filter {
  margin-bottom: 10px;
}
main .content .search-table .dataTables_length label,
main .content .search-table .dataTables_filter label {
  display: flex;
  align-items: center;
}
main .content .search-table .dataTables_length select {
  color: #555555;
  border: 1px solid #cccccc;
  outline: none;
  border-radius: 3px;
  padding: 5px;
  margin: 0 5px;
}
main .content .search-table .dt-button {
  background-color: #555555;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 7px 0;
  width: 70px;
  transition: 0.3s;
}
main .content .search-table .dt-button:hover {
  opacity: 75%;
}
main .content .search-table .dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: #555555;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 2px 10px;
  margin: 0 5px 0 0;
  cursor: pointer;
}
main .content .search-table .dataTables_wrapper .dataTables_info {
  color: #555555;
  margin-top: 10px;
  margin-left: 5px;
}
main .content .search-table #myTable {
  border-collapse: collapse;
  width: 100%;
}
main .content .search-table #myTable th,
main .content .search-table #myTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}
main .content .search-table #myTable th {
  background-color: #f2f2f2;
}
main .content .search-table #myTable tbody tr:hover {
  background-color: #f9f9f9;
}
main .content .content-container {
  width: 100%;
  margin-top: 70px;
}
main .content .content-container .form-cont {
  position: fixed;
  width: 80%;
  height: 120px;
  background-color: #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
main .content .content-container .form-cont .form-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ffffff;
}
main .content .content-container .form-cont .form-title h3 {
  width: 100%;
  font-weight: 800;
  padding: 5px 30px;
}
main .content .content-container .form-cont .form-title .button {
  display: flex;
  padding: 5px 30px;
}
main .content .content-container .form-cont .form-title .button button {
  height: 30px;
  width: 80px;
  margin: 0 0 0 10px;
}
main .content .content-container .form-cont .form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 78px;
}
main .content .content-container .form-cont .form form {
  display: flex;
}
main .content .content-container .form-cont .form form .inputs {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
main .content .content-container .form-cont .form form .inputs input[type=text], main .content .content-container .form-cont .form form .inputs select {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #cccccc;
  padding: 3px 5px;
  outline: none;
}
main .content .content-container .form-cont .form form .inputs select {
  width: 250px;
}
main .content .content-container .form-cont .form form .inputs input[type=submit] {
  padding: 2px 15px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */