/* Define brand colors */
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$black-color: #000000;
$apple-gray: #555555;
$white-color: #ffffff;
$trans-color: #f1f1f1;
$gray-color: #cccccc;

/* Define font families */
$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-serif: "Georgia", serif;
$font-family-monospace: "Courier New", monospace;
$font-family-poppins: 'Poppins', sans-serif;
$font-family-times: "Times New Roman", Times, serif;